body{
    margin: 0;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.tool{    
    padding: 0.7vw;
    padding-top: 6vh;
    vertical-align: top;
    width: auto;
    height: 50vh;
}

#pen{
    padding-top: 0;
}

#hidePanels{
    background-image: url(Icon_ionic-ios-arrow-dropright.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 3vh;
    width: 3vh;
    right: 0;
    position: absolute;
    top: 5vh;
}

@keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
}
@keyframes rotation2 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
}

#container {
    position: relative;
    height: 100%;
}

.div-principal{
    display: flex;
}

.spanColor{
    width:3.5vh; height:3.5vh; margin-left: 10; margin-top: 3px; margin-bottom: 3px; border: #888888 solid 2px; border-radius: 50%;
}

#can, #divColors, #divTools{
    position: absolute;
}

#divTools{
    background-image: url(rect_tools.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 60vw;
    flex-direction: column;
    top: 76vh;
    left: 20vw;
}

#divColors{
    background-image: url(rect_colors_2.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    height: 41vh;
    width: 40vh;
    flex-direction: column;
    right: 0;
    top: 8vh;
}

#divColors-internal{
    display: table;
    margin: 0 auto;
}

.divColors-internal-center{
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: auto;
    margin: 0;
    margin-left: 7.5vh;
}

.divColors-internal-extrems{
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    margin: 0;
    margin-left: 10vh;
    margin-right: 10vh;
}

#div-Colors-internal-extremTop{
    margin-top: 6vh;
}

#divDimensions-internal{
    display: flex;
    margin: 4vh auto;
}

#white{
    background-color: #ffffff;
}

#green{
    background-color: #00EE6F;
}

#blue{
    background-color: #002BFF;
}

#red{
    background-color: #FF1D34;
}

#yellow{
    background-color: #EBEB00;
}

#orange{
    background-color: #FFB300;
}

#porpora{
    background-color: #D43092;
}

#lilla{
    background-color: #7727D2;
}

#light-blue-sky{
    background-color: #00CBFF;
}

#light-blue-dark{
    background-color: #0067EE;
}

#pink{
    background-color: #FF9BDE;
}

#violet{
    background-color: #CF33E8;
}

#black{
    background-color: #000000;
    border: #155ebd solid 2px;
}



.span-lineDimension{
    margin-left: 10; margin-top: 3px; margin-bottom: 3px; border: #888888 solid 2px; border-radius: 50%; background-color: #363636;
}

#y40{
    width: 40; height: 40;
}

#y20{
    margin-top: 11;
    width: 22; height: 22;
}

#y14{
    margin-top: 15;
    width: 14; height: 14;
}

#y6{
    margin-top: 18;
    width: 8; height: 8;
    border: #155ebd solid 2px;
}

#y4{
    margin-top: 20;
    width: 4; height: 4;
}



#can{
    border: solid red;
}